.input {
    display: flex;
    width: 100%;
    border: 2px solid #FF7100;
    border-radius: 10px;
    padding: 10px;
    outline: none;
    background-color: #ffffff;
}


input{
    width: 100%;
    border: none;
    outline: none;
    font-size: 20px;
}

.inputbtn {
    position: relative;
    width: 3vh;
    height: 3vh;
    margin-right: 4px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    background-color: #ffffff;
}

.inputbtn img {
    position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  width: 100%; 
  height: 100%; 
}

.hide {
    display: none;
}