.btn {
    display: flex;
    justify-content: center;
    padding: 10px;
    width: 50%;
    border: none;
    border-radius: 15px;
    text-decoration: none;
    color: white;
    background: #FFB173;
    box-shadow: 0 5px 0 #FF9540;
    margin: 0 5px;
  }
  
  .btn:hover {
    background: #FF9540;
    box-shadow: none;
    position: relative;
    top: 5px;
  }
  
  .btn-wrapper {
    display: flex;
    justify-content: center;
    margin: 10px
  }