.todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFB173;
    position: relative;
    list-style-type: none;
    width: 100%;
    box-shadow: 1px 5px 6px 0 #FF9540;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    margin: 5px auto;
    background-color: white;
  }
  
  .todos {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    margin-top: 10px;
  }
  
  .done {
    text-decoration: line-through;
    box-shadow: 1px 5px 1px 0 #c2ffbc;
  }
  
  .delete {
    width: 2vh;
    height: 2vh;
  }